body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Lobster', cursive;
  height: 900px;
}

table {
  margin:0;
  border: 4px solid blue;
  border-radius:10px;
  background-color:#290be5;
  position: fixed;
}

tr {
  height: 60px;
}

th:hover{
  color:red; 
  background-color:#5364fc;
  border-radius:10px;
 }


a {
  color:white;
  font-size:35px;
  text-decoration: 0;
}

a:hover {
  color:#ffd700;
}


div.asos {
  border-bottom: 0px;
}



div.header {
  background-image: url("Foto/header.jpg");
  background-size:100% 100%;
  background-position:center;
  background-repeat: no-repeat;
  width:90%;
  height:100vh;
  border:6px solid blue;
  border-radius:30px;
  margin-left: auto;
  margin-right:auto;
}

div.headers {
  background-image: url("Foto/program.jpg");
  background-size:90% 100%;
  background-position:center;
  background-repeat: no-repeat;
  width:90%;
  height:100vh;
  border:6px solid blue;
  border-radius:30px;
  margin-left: auto;
  margin-right:auto;
}

div.headersr {
  background-image: url("Foto/game.jpg");
  background-size:100% 100%;
  background-position:center;
  background-repeat: no-repeat;
  width:90%;
  height:100vh;
  border:6px solid blue;
  border-radius:30px;
  margin-left: auto;
  margin-right:auto;
}

a.web {

  font-size:22px;
  color:black;
  text-align: center;
}
a.lang {
  font-size:22px;
  color:black;
  text-align: center;
}
a.lang:hover {
  color:blue;
}

a.web:hover {
  color:blue;
}







